{{!< default}}
{{> "navbar"}}

    {{#if @blog.cover}}
    <div class="jumbotron site-masthead" style="background: url('{{@blog.cover}}') center center no-repeat">
      <div class="container">
        <h1>{{@blog.description}}</h1>
      </div>
    </div>
    {{/if}}
    <div id="content" class="container" role="content">
        {{> "loop"}}
    </div>