{{!< default}}
{{> "navbar"}}

    {{#if @blog.cover}}
    <div class="jumbotron" style="background: url('{{@blog.cover}}') center center no-repeat">
      <div class="container site-masthead">
        <h1>{{@blog.description}}</h1>
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
      </div>
    </div>
    {{/if}}
    <div id="content" class="container" role="content">
        {{> "loop"}}
    </div>