{{!< default}}
{{> "navbar"}}

{{#post}}
    {{#if image}}
    <div class="jumbotron post-masthead" style="background: url('{{image}}') center center no-repeat; background-size: 100%;">
      <div class="container"></div>
    </div>
    {{/if}}
    <div id="content" class="container" role="content">
        <div class="row">
            <div class="col-md-12">
                <article class="{{post_class}}">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-content">
                    {{content}}
                </section>
                </article>
            </div>
        </div>
    </div>

{{/post}}
